.dashboardpageContainer {
    background-color: #121212;
}
/*              dashboard navbar         */
.dashboardNav {
    height: 9vh;
    background-color: #121212;
    border-bottom: 1px solid #FFFFFF29;
    padding: 0 40px;
}
.optionContainer {
    background-color: #1D1D1D;
    border-radius: 6px;
    border: 1px solid #FFFFFF29;
    border-radius: 6px;
    margin: 0 auto;
}
.eachOption {
    width: 290px;
    height: 40px;
    border-bottom: 1px solid #3D3D3F;
}
.optionContainer > .eachOption {
    border-bottom: none;
}
.dropdown {
    background-color: #1D1D1D;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    border: 1px solid #FFFFFF29;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.optionLogout {
    color: #FFA54C;
}
.shareBtn {
    width: 80px;
    height: 35px;
    background-color: #1A5FFF;
    border-radius: 6px;
    margin-left: 20px;
}
/*      dashboard main content */
/* Activated (Selected) Folder */
.selectedFolder  {
    width: 190px;
    height: 40px;
    border-radius: 6px;
    color: #18181B !important;
    background-color: #FFFFFF;
    text-transform: none;
    display: flex;
    align-items: center;
}  
.dashboardMainContainer {
    height: 91vh;
    background-color:  #121212;
    padding-left: 150px;
    padding-right: 150px;
}
.folderFormContainer {
    padding-top: 40px;
    width: 1250px;
}
.createFolderBtn {
    width: 190px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF14;
    margin-left: 10px;
    margin-right: 10px;
}
.createFolderBtn img {
    margin-right: 5px;
}
.createFolderIcon {
    background-color: #FFFFFF14;
    color: #FFFFFF14;
    border: 0.5px solid FFFFFF14;
    background-color: #FFFFFF14;
}
.createFormBtn {
    width: 180px;
    height: 210px;
    border-radius: 6px;
    background-color: #1A5FFF;
    margin-left: 10px;
    margin-right: 10px;
}
.createFormBtn img {
    margin-bottom: 25px;
}
/*      new folder  */
.newFolder {
    width: 190px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF14;
    padding-left: 8px;
    margin-left: 10px;
    margin-right: 10px;
}
.deleteBtn {
    margin-left: 10px;
    right: 10px;
}
.deleteIcon {
    width: 20px;
    height: 20px;
}
/*     new form      */
.newForm {
    width: 180px;
    height: 210px;
    border-radius: 6px;
    background-color: #FFFFFF80;
}
.cornerDeleteBtn {
    left: 170px;
    top: -10px;
}
.cornerDeleteIcon {
    width: 20px;
    height: 20px;
}
/*           */
.flexWrapNow {
    flex-wrap: wrap; /* Allows wrapping to the next line */
    gap: 10px; /* Adjust spacing between items */
}
/*          modal view container        */
.modalViewContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
