.dashboardpageContainer {
    background-color: #121212;
}
/*              dashboard navbar         */
.dashboardNav {
    background-color: #121212;
    border-bottom: 1px solid #FFFFFF29;
}
.workspaceNameContainer {
    border-radius: 6px;
    border: 1px solid #FFFFFF29;
}
.shareBtn {
    width: 80px;
    height: 35px;
    background-color: #1A5FFF;
    border-radius: 6px;
}
