.dashboardpage-container {
    background-color: #121212;
}
/*              dashboard navbar         */
.dashboard-nav {
    background-color: #121212;
    border-bottom: 1px solid #FFFFFF29;
}
.workspace-name-container {
    border-radius: 6px;
    border: 1px solid #FFFFFF29;
}
.share-btn {
    width: 80px;
    height: 35px;
    background-color: #1A5FFF;
    border-radius: 6px;
}
